<h4>All Events</h4>

<ul class="row">
  <% @all_events.each do |event| %>
    <div class="col">
      <%= link_to "#" do %>
        <%= image_tag(event.image.url, class: "author_image") if event.image %>
      <% end %> <br />
      <p><%= event.theme %></p>
      <p>status: <%= event.get_status(event.end_date) %></p>
      <p>Type of event: <%= event.event_type %></p>
      <%= link_to "Edit", edit_event_path(event) %> <%= link_to "delete", event_path(event), method: :delete %> <br /> <br />
    </div>
  <% end %>
</ul>


